figure { 
	position: relative; 
	display: inline-block; 
}

figure:hover figcaption {
    opacity: 1;
}

figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: gray;
    color: #fff;
    opacity:0;
    transition:1s;
}

#border {
	border-style: inset;
	border-width: 20px;
	border-color: #A0522D;
	border-style: ridge;
}

body {
	background-color: #FCE4CF;
}


